@import "vars";

/*==========  Mobile First  ==========*/

// ≤1200px
@media screen and (max-width:1350px){
  .header{
    &__content{
      .search{
        form{
          .field{
            input{
              width: 180px;
            }
          }
        }
      }
    }
  }
  .footer{
    .menu{
      margin-left: -100px;
    }
  }
}
// ≤1200px
@media screen and (max-width:1300px){
  .blogs{
    &__item{
      width: calc(50% - 20px);
      .text{
        h4{
          font-size: 21px;
        }
      }
    }
  }
  .order-card {
    padding: 24px 20px 38px 53px;
    &__left {
      flex: 0 0 59%;
    }
  }
  .basket {
    &__delivery {
      .right hr {
        width: 100%;
      }
    }
  }
  .collection_page__content .item{
    height: 340px;
  }
  .iblock_items{
    &__content{
      .images{
        img{
          max-width: 300px;
        }
      }
    }
  }
}
@media screen and (max-width:1220px){
  body{
    padding-top: 112px;
  }
  .header{
    .cart, .like{
      margin-right: 15px;
      padding-right: 0;
    }
    &__content{
      .logo{
        a{
          img{
            height: 40px;
          }
        }
      }
      .menu nav ul li a{
        padding: 0px 10px;
        font-size: 12px;
      }
      .search form .field input{
        width: 165px;
      }
    }
  }
  .container{
    padding: 0px 15px;
  }
  .footer{
    &__content{
      .right{
        .social{
        }
      }
    }
  }
  .main-curator__content {
    padding: 70px 5%;
  }
  .detail__top .info{
    padding: 20px;
    min-width: 360px;
  }
}
@media screen and (max-width:1200px){
  .catalog__wrap{
    .filter.max{
      width: 310px;
      min-width: 310px;
    }
    .catalog_products{
      margin-left: 40px;
    }
  }
  .iblock_items{
    &.pd100{
      padding: 0;
    }
    &.pd200{
      padding: 0;
    }
  }
  .iblock_text{
    &__content{
      padding: 0 100px;
    }
  }
  .new_partners{
    &__content{
      padding: 0 100px;
    }
  }
  .footer{
    .menu{
      margin-left: 0px;
    }
    .cards__icon{
      margin-top:20px;
    }
    &__bottom{
      .left{
        .logo{
          margin-right: 40px;
          img{
            height: 28px;
          }
        }
        .text{
          p{
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media screen and (max-width:1100px){
  .catalog__wrap .catalog_products .item{
    width: 50%;
  }
  .basket {
    .title {
      font-weight: bold;
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 20px;
    }
    &__delivery {
      margin-bottom: 100px;
      .radio-buttons label {
        font-size: 14px;
        line-height: 20px;
      }

      .radio-button .custom-checkbox + label::before {
        top: 5px;
      }

      .radio-button .custom-checkbox:checked + label::after {
        top: 9px;
      }

      .radio-button {
        flex: 0 0 40%;

        &:first-child {
          flex: 0 0 60%;
        }
      }


      .right {
        flex: 0 0 42.5%;
      }

      .info-for-delivery-type {
        margin-top: 18px;
      }

      .field {
        label {
          margin-bottom: 16px;
        }
      }

      .field-narrow input, .field input, hr {
        width: 80%;
      }

      .field-b-large {
        margin-bottom: 32px;
      }

      .field-b-medium {
        margin-bottom: 29px;
      }

      .field-promo {
        label {
          font-size: 12px;
          line-height: 16px;
        }

        input {
          font-weight: 300;
          font-size: 14px;
          line-height: 18px;
        }
      }

      hr {
        margin-top: 30px;
      }
      .info-for-payment-type {
        margin-top: 50px;
      }
      .button {
        margin-top: 76px;
      }
    }
    .button {
      .btn {
        width: 264px;
      }
    }
  }
  .order-card {
    &__left {
      flex: 0 0 54%;
    }
    &__row {
      margin-bottom: 30px;
    }
    &__img {
      height: 105px;
    }
    &__name {
      font-size: 14px;
      line-height: 18px;
    }
    &__desc {
      font-size: 10px;
      line-height: 13px;
      p {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 7px;
      }
    }
    &__total {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
    }
    &__total-cost {
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
    }
  }
  .collection_page__content .item{
    height: 280px;
    margin-bottom: 12px;
    .title{
      font-size: 24px;
      margin-bottom: 0;
    }
    .description{
      font-size: 12px;
    }
  }
  .catalog__wrap{
    .filter.max{
      width: 320px;
      min-width: 320px;
    }
  }
  .author__container {
    margin-left: 20px;
  }
  .detail__row-item-image {

  }
}
@media screen and (max-width: 960px) {
  .blogs{
    .page_iblock{
      max-width: 260px;
      p{
        max-width: 100%;
      }
    }
    &__item{
      width: 205px;
      margin-bottom: 50px;
      span{
        font-size: 10px;
        margin-bottom: 10px;
      }
      .images{
        height: 114px;
        margin-bottom: 10px;
      }
      .text{
        height: 45px;
        h4{
          font-size: 12px;
        }
      }
    }
    &__detail{
      max-width: 580px;
      img{
        margin-bottom: 30px;
      }
      h2,h3,h4,h5,h6{
        font-size: 18px;
        margin-bottom: 20px;
      }
      p{
        font-size: 12px;
      }
      .tags{
        ul{
          li{
            a{
              font-size: 10px;
            }
          }
        }
      }
    }
  }
  .main-banner__item {
    height: 356px;
  }
  .main-banner__info {
    margin-left: 8%;
    bottom: 44px;
  }
  .main-banner__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 19px;
  }
  .main-banner__desc {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 46px;
  }
  .main-banner__show {
    a {
      font-size: 12px;
      line-height: 16px;
    }

    img {
      height: 7px;
    }
  }
  .main-banner__dots {
    bottom: 35px;
    right: 35px;

    li {
      width: 5px;
      height: 5px;
    }
  }

  .main-works {
    padding: 65px 0;

    &__title  {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 41px;
      &:before {
        width: 35px;
        height: 15px;
        top: -35px;
      }
    }
    &__item-img {
      margin-bottom: 21px;
    }
    &__item-title {
      font-size: 19px;
      line-height: 25px;
      margin-bottom: 22px;
    }
    &__item-link {
      font-size: 11px;
      line-height: 14px;
    }
  }
  .mail-mailing {
    padding: 42px 10%;

    &__title {
      font-size: 17px;
      line-height: 22px;
    }

    &__description {
      font-size: 14px;
      line-height: 16px;
    }
  }
  .mailing-form {
    input {
      font-size: 10px;
      line-height: 13px;
      padding: 14px 19px 17px;
    }

    button[type="submit"] {
      font-size: 12px;
      line-height: 16px;
      padding: 14px 0 17px;
      width: 150px;
    }
  }
  .main-collection {
    &__item {
      height: 547px;

      &:before {
        width: 51%
      }
    }

    &__content-top {
      top: 71px;
      left: 12%;
      font-size: 12px;
      line-height: 16px;
    }

    &__content-bottom {
      bottom: 85px;
      left: 12%;
    }

    .mccb {
      &__title, &__desc {
        margin-left: 0;
      }

      &__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 17px;
      }

      &__desc {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 22px;
      }

      &__button {
        padding: 13px 43px;
        font-size: 11px;
        line-height: 14px;
      }
    }

    .arrows {
      right: 92px;
      bottom: 50px;

      .arrow {
        width: 14px;
        height: 25px;
        &:hover{
          width: 20px;
          height: 50px;
        }
      }

      .next-arrow {
        margin-left: 18px;
      }
    }
  }
  .main-price {
    padding: 46px 0 62px;

    &__title {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 41px;
    }

    &__item {
      font-size: 11px;
      line-height: 14px;
      padding: 14px 0;
      flex: 0 0 22%;
    }
  }
  .main-curator {
    height: 452px;
    margin-bottom: 45px;

    &__content {
      width: 44.5%;
      padding: 45px 5% 63px;
    }

    &__text {
      font-size: 15px;
      line-height: 20px;
    }

    &__author {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .square-button {
    font-size: 11px;
    line-height: 14px;
    padding: 14px 0 11px;
    width: 205px;
  }
  .detail {
    .container  {
      width: 100%;
    }
    h1 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 13px;
    }
    &__top {
      margin-bottom: 43px;
      .slider {
        width: auto;
        .image {
          width: 370px;
          height: auto;
          .like {
            bottom: 20px;
            right: 20px;
          }
        }
        .preview {
          left: -144px;
          a {
            margin-bottom: 22px;
          }
        }
      }
      .info {
        width: 280px;
        min-width: 280px;
        padding: 28px;
        .tabs {
          margin-bottom: 30px;
          a {
            font-size: 12px;
            line-height: 16px;
            margin: 0 24px;

            &:nth-child(1):before {
              width: 25px;
              right: -40px;
            }
          }
        }
        .tab {
          margin-top: 18px;
          p {
            font-size: 8px;
            line-height: 10px;
            margin-bottom: 2px;
          }
          &.tab1 {
            .button {
              margin-top: 20px;
            }
          }
        }
        .button .btn {
          padding: 8px 13px;
        }
        .tab__info {
          margin-bottom: 28px;
        }
      }

      .info__content {
        .text {
          h4 {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 8px;
          }

          p {
            font-size: 11px;
            line-height: 14px;
          }
          span {
            font-size: 9px;
            line-height: 12px;
            margin-top: 9px;
          }
        }

        .price {
          p {
            font-size: 18px;
            line-height: 23px;
          }
        }
      }
    }
    &__info {
      margin-bottom: 40px;
    }
    &__info-title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 23px;
    }
    &__info-item {
      font-size: 15px;
      line-height: 16px;
      margin: 10px 0;
      img {
        width: 18px;
      }
    }
    &__row {
      margin-bottom: 57px;
    }
    &__row-title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 37px;
    }
    &__row-item-image {
      margin-bottom: 19px;
    }
    &__row-item-title {
      margin-bottom: 20px;
    }
    &__row-item-info {
      margin-bottom: 20px;
      width: 65%;
    }
  }
  .btn {
    font-size: 9px;
    line-height: 12px;
  }
  .selects {
    .placeholder {
      height: 33px;
      font-size: 10px;
      line-height: 13px;

      &:before {
        height: 7px;
      }
    }
    ul li {
      font-size: 10px;
      line-height: 13px;
      padding: 7px;
    }
  }
  .basket__approve {
    margin-bottom: 119px;
    width: 51.5%;
    .button .btn  {
      width: 100%;
    }
  }
  .collection_page__content .item{
    height: 270px;
    .title{
      font-size: 20px;
    }
    .description{
      font-size: 11px;
    }
  }
  .catalog__wrap{
    .filter{
      &.max{
        min-width: 260px;
        width: 260px;
      }
      .text{
        h1{
          font-size: 24px;
          line-height: 29px;
          font-weight: 300;
        }
        p{
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
    .catalog_products{
      margin-left: 20px;
    }
  }

  .author {
    .left {
      margin-right: 15%;

      .socials {
        margin-bottom: 20px;
      }
    }
    .right {
      flex: 0 0 calc(85% - 210px);
    }
  }
    .authors {
      margin-left: 12%;
      .title {
        margin-bottom: 70px;
      }
      &__item {
        flex: 0 0 100%;
      }
    }
}

// ≤992px
@media screen and (max-width:992px){
  body{
    padding-top: 142px;
  }
  .detail__info-item{
    width: 100%;
  }
  .detail__info hr{
    width: 100%;
  }
  .header{
    padding-bottom: 5px;
    &.active {
      top: -67px;
    }
    .top{
      padding-right: 15px;
      .right{
        .search{
          display: block;
        }
      }
    }
    .search{
      margin-left: 30px;
      form{
        .field{
          input{
            width: 180px;
          }
        }
      }
    }
    &__content{
      padding: 15px 0;
      margin-top: 0;
      .search{
        display: none;
        &.active{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: #fff;
          height: 100%;
          z-index: 2;
          form{
            height: 100%;
            display: flex;
            align-items: center;
            .field{
              padding-left: 20px;
              width: 100%;
              input{
                border: none;
                border-bottom: 1px solid #ccc;
                width: 100%;
              }
              button{
                left: 0;
                svg{
                  rect{
                    fill: $blue;
                  }
                  ellipse{
                    stroke: rgb(51, 153, 204);
                  }
                }
              }
            }
          }
        }
      }
      .menu{
        ul{
          li{
            &:last-child{
              a{
                padding-right: 0;
              }
            }
          }
        }
      }
    }
  }
  .footer{
    &__content{
      .menu{
        ul{
          li{
            margin: 0 12px;
          }
        }
      }
      .right{
        display: block;
        .social{
          margin-right: 0;
          justify-content: flex-end;
          margin-bottom: 14px;
          a{
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  .catalog{
    &__top{
      .text{
        width: 100%;
        p{
          font-size: 12px;
        }
      }
    }
  }
  .masonry { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
  }
  .basket{
    &__content{
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  .service_page{
    &__content{
      .service_page__item_top{
        margin: 0;
        h4{
          font-size: 26px;
          line-height: 32px;
        }
      }
    }
  }
  .service_page__item{
    .service_page__item_wrap{
      height: 440px;
      .text{
        padding: 70px;
        p{
          font-size: 17px;
          line-height: 18px;
        }
      }
    }
  }
  .page_iblock{
    &__title{
      h1{
        font-size: 26px;
        line-height: 32px;
        width: 300px;
        min-width: 300px;
      }
      p{
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        width: 100%;
      }
    }
  }
  .iblock_margin{
    padding-left: 300px;
  }
  .club{
    width: 100%;
    .item{
      .images{
        width: 240px;
        min-width: 240px;
        margin-right: 70px;

        img{
          height: 70px;
        }
      }
      .text{
        justify-content: flex-start;
        .info{
          h4{
            font-size: 17px;
            line-height: 22px;
          }
          p{
            font-weight: 300;
            font-size: 15px;
            line-height: 20px;
          }
        }
        .list{
          margin-left: 70px;
          margin-top: 30px;
          ul{
            li{
              font-weight: bold;
              font-size: 12px;
              line-height: 16px;
              margin-bottom: 4px;
              &:before{
                top: 5px;
              }
            }
          }
        }
      }
    }
  }
  .pathners{
    width: auto;
    padding: 0;
    margin-left: 300px;
    h2,h3{
      font-size: 24px;
      margin: 30px 0;
    }
    p{
      font-size: 14px;
      margin-bottom: 50px;
    }
  }
  .contacts{
    .info{
      width: 350px;
      p{
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
  .new_service{
    &__content{
      padding-right: 0;
    }
  }
  .iblock_banner{
    height: 300px;
    padding: 0px 15px;
    &.big_banner{
      height: 360px;
      .images{
        margin-right: 50px;
      }
      .text{
        width: 50%;
      }
    }
    .text{
      width: 50%;
      h4{
        font-size: 18px;
        line-height: 24px;
      }
      p{
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .iblock_items{
    &__title{
      h4{
        font-size: 42px;
        line-height: 55px;
      }
    }
    &__content{
      .iblock_itm{
        .images{
          max-width: none;
          img{
            width: 100%;
            height: auto;
          }
        }
        .text{
          min-width: 50%;
          width: 45%;
          h5{
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 30px;
          }
          p{
            font-size: 18px;
            line-height: 30px;

          }
        }
      }
    }
  }
  .iblock_text{
    &__content{
      h3{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px;
      }
      p{
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .new_partners{
    &__content{
      padding: 0;
      .item{
        .text{
          h4{
            font-size: 20px;
            line-height: 24px;
          }
          p{
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
@media screen and (max-width:850px){
  body{
    padding-top: 70px;
  }
  .header{
    padding-bottom: 0;
    &.active{
      top: 0;
      .header__content .logo a .logo_scroll{
        height: 18px;
      }
    }
    .top{
      display: none;
    }
    &__content{
      align-items: center;
      justify-content: space-between;
      .menu{
        display: none;
      }
      .mobile_touch{
        display: flex;
        align-items: center;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .burger{
        display: flex;
        margin-left: 25px;
      }
    }
  }
  .footer{
    &__content{
      .menu{
        ul{
          display: block;
          column-count: 2;
          li{
            display: block;
            margin-bottom: 10px;
          }
        }
      }
      .cards__icon{
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
        .list_icon{
          margin: 0;
          padding: 0;
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 30px;
          border: none;
          .col{
            justify-content: center;
            width: auto;
            img{
              margin: 0 5px;
            }
          }
        }
      }
    }
    &__bottom{
      margin-top: 20px;
      flex-wrap: wrap;
      position: relative;
      .social{
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .left{
        flex-wrap: wrap;
        .logo{
          margin-right: 0;
          img{
            height: 22px;
          }
        }
        .text{
          margin-bottom: 20px;
          order: 0;
          .left_text{
            order: 1;
            flex-wrap: wrap;
            width: 50%;
            p{
              width: 100%;
            }
          }
          p{
            order: 0;
            font-size: 10px;
            line-height: 18px;
            width: 50%;
          }
        }
        .logo{
          order: 1;
        }
      }
    }
  }
  .breadcrumbs{
    margin-top: 20px;
  }
  .catalog{
    margin-top: 30px;
    &__wrap{
      .filter{
        .filter_button{
          display: flex;
          h4{
            font-size: 14px;
          }
          &.active{
            img{
              transform: rotate(180deg);
            }
          }
        }
        form{
          display: none;
        }
        &__content{
          .filter__title{
            margin-bottom: 15px;
            h5{
              font-size: 12px;
            }
          }
        }
      }
      .catalog_products{
        margin-left: 60px;
        .item{
          .item__content{
            width: 190px;
          }
        }
      }
    }
  }
  .basket{
    &__content{
      padding: 0;
    }
  }
  .detail__top{
    flex-wrap: wrap;
    .slider{
      width: 100%;
      .image{
        width: 100%;
      }
    }
    .info{
      margin-top: 20px;
      width: 100%;
      min-width: auto;
      margin-left: 0;
    }
  }
  .collection_page__content{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .collection_page__content .item{
    width: 49.3%;
    margin: 0;
    margin-bottom: 10px;
  }
  .pathners{
    margin-left: 0;
  }
}
// ≤768px
@media screen and (max-width:768px){
  .blogs{
    .page_iblock{
      max-width: none;
      width: 100%;
    }
    &__wrapper{
      flex-wrap: wrap;
    }
    &__body{
      margin: 0 -10px;
    }
    &__detail{
      margin: 0 10px;
      .category{
        p{
          font-size: 10px;
        }
      }
      h2,h3,h4,h5,h6{
        font-size: 16px;
      }
      .tags{
        margin-top: 25px;
      }
    }
  }
  .mail-mailing {
    padding: 40px 0;

    &__content {
      flex-direction: column;
      align-items: unset;
    }

    &__info {
      flex: 0 0 100%;
      margin-bottom: 32px;
    }

    &__form {
      flex: 0 0 100%;
    }
  }
  .basket{
    &__content{

    }
    .basket__cards{
      .item{
        .images{
          margin-right: 16px;
          width: 190px;
          min-width: 190px;
        }
        .text{
          .item__title{
            h4{
              a{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .basket {
    .left {
      padding-right: 0;
    }
    .right {
      display: none;
    }
    &__approve {
      width: 80%;
    }
  }
  .catalog__wrap{
    .filter{
      &.max{
        min-width: 150px;
        width: 150px;
      }
      .text{
        h1{
          font-size: 20px;
          line-height: 24px;
          font-weight: 300;
        }
        p{
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
  .club {
    .item {
      .images{
        width: 175px;
        min-width: 175px;
        margin-right: 40px;
        img{
          height: 50px;
        }
      }
      .text{
        .list{
          margin-top: 0;
          margin-left: 40px;
        }
      }
    }
  }
  .page_iblock{
    &__title{
      flex-wrap: wrap;
      margin-bottom: 30px;
      h1{
        margin-bottom: 20px;
      }
    }
  }
  .iblock_margin{
    padding-left: 0;
  }
  .new_service{
    &__content{
      .item{
        &.active{
          margin-left: 0;
          width: 100%;
          .title{
            h4{
              margin-bottom: 25px;
            }
          }
        }
        .title{
          &:before{
            top: 14px;
          }
          &:after{
            top: 14px;
          }
          h4{
            font-size: 18px;
            line-height: 24px;
          }
        }
        &__content{
          img{
            margin-bottom: 20px;
          }
          p{
            font-size: 16px;
            line-height: 24px;
          }
          ul{
            li{
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .footer__content{
    .cards__icon{
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      img{
        height: 9px;
      }
      .list_icon{
        margin-top: 0;
        width: auto;
        .col{
          margin-bottom: 0;
          img{
            height: 10px;
          }
        }
      }
    }
  }
  .pages_up{
    margin-top: 25px;
    img{
      height: 20px;
    }
  }
  .main-banner__item {
    height: 517px;
  }
  .main-banner__info {
    margin: 0;
    bottom: 30px;
  }
  .main-banner__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 14px;
    width: 70%;
  }
  .main-banner__desc {
    font-size: 12px;
    line-height: 20px;
    width: 86%;
    margin-bottom: 40px;
  }
  .main-banner__show {
    a {
      font-size: 12px;
      line-height: 16px;
    }

    img {
      display: none;
    }
  }
  .main-banner__dots {
    bottom: 30px;
    right: 30px;
  }
  .main-works {
    padding: 20px 0 67px 0;
    .container{
      padding: 0;
    }
    &__title  {
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 30px;
      &:before {
        width: 32px;
        height: 16px;
        top: -30px;
      }
    }
    &__item{
      padding: 0;
    }
    &__item-content {
      width: 100%;
      margin: auto;
    }
    &__item-img {
      width: 100%;
      height: auto;
      margin-bottom: 25px;
    }
    &__item-title {
      margin-bottom: 15px;
      padding: 0 15px;
    }
    &__item-link{
      margin-left: 15px;
    }
  }
  .mailing-form {
    flex-direction: column;
    align-items: unset;

    input {
      margin: 0 0 23px 0;
      padding: 15px 26px 12px;
    }

    button[type="submit"] {
      padding: 15px 0 18px;
      width: 183px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .main-collection {
    &__item {
      height: 540px;

      &:before {
        top: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 230px;
      }
    }

    &__content {
      position: absolute;
      content: '';
      bottom: 20px;
      left: 20px;
      width: 100%;
      height: auto;
    }

    &__content-top, &__content-bottom {
      position: relative;
      left: unset;
      top: unset;
      bottom: unset;
      right: unset;
    }

    &__content-top {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 44px;
    }

    .mccb {
      &__title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 7px;
      }

      &__desc {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 35px;
      }

      &__button {
        padding: 13px 42px;
        display: inline-block;
      }
    }

    .arrows {
      right: 5%;
      bottom: 5%;
    }
  }
  .main-price {
    padding: 34px 0 39px;

    &__title {
      margin-bottom: 27px;
    }

    &__content {
      flex-wrap: wrap;
    }

    &__item {
      font-weight: 500;
      font-size: 9px;
      line-height: 12px;
      flex: 0 0 46%;
      padding: 11px 0;
      margin-bottom: 10px;
    }
  }
  .main-curator {
    margin-bottom: 26px;

    &__content {
      width: 100%;
      height: 236px;
      padding: 17px 30px 30px 38px;
    }

    &__text {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 8px;
    }

    &__author {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .square-button {
    font-size: 11px;
    line-height: 14px;
  }
  .detail{
    margin-top: 18px;

    &__container {
      margin: 0 5px;
    }
    &__top .slider .preview {
      position: relative;
      left: 0;
      width: 100%;
      a {
        height: 176px !important;
        margin: 0 5px 0 5px;
        position: relative;
      }
      .like {
        position: absolute;
        content: '';
        width: 14px;
        height: 12px;
        bottom: 10px;
        right: 10px;
      }
    }

    h1 {
      display: none;
    }
    &__top {
      flex-wrap: wrap;
      margin-bottom: 16px;
      .slider {
        width: 100%;
        .image {
          display: none;
        }
      }
      .info {
        margin: 23px 20px 0 20px;
        padding: 21px;
        .tabs {
          margin-bottom: 12px;
          a {
            font-size: 9px;
            line-height: 12px;
            margin: 0 20px;

            &:nth-child(1):before {
              width: 16px;
              right: -30px;
              top: 5px;
            }
          }
        }
        .tab {
          &.active {
            margin-top: 11px;
          }
          &.tab1.active {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .button {
              margin-top: 0;
            }
          }
        }
        .tab__info .item {
          margin-bottom: 10px;
        }
        .button .btn {
          padding: 10px 5px;
          width: 90px;
        }
      }
      .info__content {
        .text {
          h4 {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 0;
          }
          p {
            font-size: 9px;
            line-height: 12px;
            margin-bottom: 10px;
          }
          span {
            font-size: 9px;
            line-height: 12px;
          }
        }
        .price {
          p {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }
    &__info {
      margin: 0 20px 17px 40px;
      hr {
        width: 100%
      }
    }
    &__info-title  {
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 24px;
    }
    &__info-item {
      font-size: 10px;
      line-height: 10px;
      margin: 12px 0;
      display: flex;
      align-items: center;
      &.flex{
        flex-wrap: wrap;
        p{
          width: 100%;
          margin: 5px 0;
        }
      }
      p{
        margin: 0;
      }
      img {
        width: 12px;
        height: 15px;
        position: relative;
        left: 0;
        margin-right: 15px;
      }
    }
    &__row-title {
      font-size: 14px;
      line-height: 24px;
      margin: 0 20px 30px 40px;
    }

    &__row-items {
      margin: 0;
      display: block;
    }

    &__row-item {
      margin: 0 10px;
    }

    &__row-item-image {
      width: auto;
      height: 190px;
    }

    .container {
      padding: 0;
    }

    &__row-item-title,
    &__row-item-info,
    &__row-item-desc {
      opacity: 0;
      transition: .4s all;
    }
    .slick-current &__row-item-title,
    .slick-current &__row-item-info,
    .slick-current &__row-item-desc {
      opacity: 1;
    }
    &__row-item-title {
      font-size:  12px;
      line-height: 12px;
      font-weight: bold;
    }
    &__row-item-info {
      font-size:  10px;
      line-height: 10px;
    }
    &__row-item-desc {
      font-size:  8px;
      line-height: 8px;
    }
    &__container {
      margin: 0;
    }
    &__row {
      margin-bottom: 40px;
    }
  }
  .btn {
    font-size: 8px;
    line-height: 10px;
  }

  .basket {
    .left {
      width: 100%;
    }
    &__delivery {
      margin-bottom: 50px;
      .radio-buttons {
        margin-bottom: 20px;
        label {
          font-size: 11px;
          line-height: 16px;
        }
      }
      .radio-button {
        padding-left: 25px;
      }
      .radio-button:first-child {
        padding-right: 15px;
        flex: 0 0 55%;
      }
      .radio-button {
        flex: 0 0 auto;
      }
      .radio-button .custom-checkbox+label::before {
        left: -25px;
      }
      .radio-button .custom-checkbox+label::before {
        top: 3px;
      }
      .radio-button .custom-checkbox:checked+label::after {
        top: 7px;
        left: -21px;
      }
      hr {
        display: none;
      }
      .info-for-delivery-type {
        margin-top: 5px;
      }
      .field input,
      .field-narrow input {
        width: 100%;
      }
      .field {
        input::placeholder {
          font-size: 12px;
          line-height: 16px;
        }
      }
      .field-promo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        label {
          font-size: 10px;
          line-height: 13px;
          margin-right: 0;
        }
        input {
          width: 38.5%;
          padding: 8px 10px;
          &::placeholder {
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
      .button {
        margin-top: 50px;
        .btn {
          width: 100%;
        }
      }
    }
    &__approve {
      margin-bottom: 78px;
      .order-card {
        padding: 22px 10px 30px 30px;
      }
      .mobile-none {
        display: none;
      }
      .order-card__left {
        flex: 0 0 74%;
        margin-right: 0;
      }
      .order-card__desc p {
        font-size: 11px;
        line-height: 14px;
      }
      .order-card__total-cost {
        font-size: 14px;
        line-height: 18px;
        margin-left: -20px;
      }
      .order-card__row {
        margin-bottom: 10px;
      }
      .order-card__img {
        height: 116px;
      }
      .info {
        margin: 34px 0 30px 0;
      }
      .info .info-label {
        margin-bottom: 15px;
      }
      .info .info-text {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 16px;
      }
    }
    &__finish {
      .title {
        margin-bottom: 10px;
      }
      .description {
        font-size: 16px;
        line-height: 22px;
      }
    }
    &__content-short {
      min-height: 400px;
    }
  }
  .author {
    margin-bottom: 80px;
    &__container {
      margin-left: 0;
    }
    &__content {
      display: block;
      margin: 0 50px 0 50px;
    }
    .left, .right {
      margin: 0;
      width: 100%;
    }
    .left {
      margin-bottom: 28px;
      .photo  {
        margin-bottom: 20px;
      }
      .name {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 9px;
      }
    }
    .right {
      margin-bottom: 40px;
    }
  }
  .authors {
    margin-left: 10.5%;

    .title {
      display: none;
    }
  }
  .iblock_items{
    &__title{
      h4{
        font-weight: 300;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 30px;
      }
    }
    &__content{
      .iblock_itm{
        flex-wrap: wrap;
        margin-bottom: 70px;
        &.align_top{
          margin-bottom: 40px;
          &:nth-child(2n){
            .text{
              order: 0;
            }
            .images{
              order: 1;
            }
          }
          .text{
            order: 0;
            margin-bottom: 20px;
            h5{
              font-weight: bold;
              font-size: 15px;
              line-height: 19px;
              margin-bottom: 20px;
            }
          }
          .images{
            order: 1;
            margin-bottom: 0;
            margin-left: -15px;
            margin-right: -15px;
            width: calc(100% + 30px);
          }
        }
        &:nth-child(2n){
          .text{
            order: 1;
            margin-left: 0;
          }
          .images{
            order: 0;
          }
        }
        .text{
          margin: 0;
          width: 100%;
          order: 1;
          p{
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
          }
        }
        .images{
          width: 100%;
          text-align: center;
          order: 0;
          margin-bottom: 50px;
          img{
            max-width: 150px;
          }
        }
      }
    }
  }
  .iblock_text{
    margin-bottom: 30px;
    &__content{
      padding: 0;
      h3{
        font-weight: bold;
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 20px;
      }
      p{
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
  .new_partners{
    &__content{
      .item{
        padding-bottom: 20px;
        margin-bottom: 30px;
        .images{
          height: 140px;
          margin-bottom: 30px;
        }
        .text{
          h4{
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 15px;
            line-height: 19px;
          }
          p{
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

// ≤576px
@media screen and (max-width:650px){
  body{
    padding-top: 60px;
  }
  .header{
    &__content{
      .logo{
        a{
          img{
            height: 25px;
          }
        }
      }
    }
  }
  .footer{
    padding-bottom: 10px;
    &__top{
      flex-wrap: wrap;
      margin-bottom: 25px;
      .col{
        width: 100%;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 7px;
        margin-bottom: 7px;
        transition: .4s all;
        margin-bottom: 11px;
        &:last-child{
          margin-bottom: 0;
          margin-top: 15px;
          border: none;
        }
        &.active{
          margin-bottom: 5px;
          padding-bottom: 20px;
          h5{
            img{
              transform: rotate(180deg);
            }
          }
        }
        h5{
          display: flex;
          cursor: pointer;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 13px;
          margin-bottom: 0;
          img{
            display: block;
            transition: .4s all;
          }
        }
        ul{
          display: none;
          margin-top: 10px;
          li{
            a{
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
        p,a{
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
    &__content{
      flex-wrap: wrap;
      .logo{
        margin-right: 15px;
        margin-top: 20px;
        order: 3;
        a{
          img{
            height: 18px;
          }
        }
      }
      .menu{
        ul{
          li{
            margin: 0;
            margin-bottom: 5px;
            a{
              font-size: 12px;
            }
          }
        }
      }
      .footer_text{
        order: 2;
        flex-wrap: wrap;
        a,p{
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 20px;
          width: 100%;
          margin: 0;
        }
      }
      .right{
        order: 0;
        .cards{
          margin-bottom: 20px;
          img{
            &:nth-child(1){
              margin-left: 0;
            }
          }
        }
        .social{
          margin-bottom: 10px;
          justify-content: flex-start;
          a{
            &:nth-child(1){
              margin-left: 0;
            }
          }
        }
        .f_text{
          text-align: right;
          p{
            font-size: 10px;
            margin-bottom: 0;
          }
          a{
            font-size: 10px;
          }
        }
      }
    }
  }
  .breadcrumbs{
    margin-top: 0;
    margin-bottom: 20px;
    ul{
      li{
        font-size: 12px;
        &:before{
          width: 12px;
        }
      }
    }
  }
  .catalog{
    margin-top: 20px;
    &__top{
      flex-wrap: wrap;
      h1{
        width: 100%;
        min-width: auto;
        font-size: 18px;
        line-height: 24px;
      }
      .text{
        margin-left: 0;
        p{
          font-size: 10px;
        }
      }
    }
    &__wrap{
      .filter{
        width: 100%;
        min-width: auto;
        margin-bottom: 20px;
        &.max{
          width: 100%;
          min-width: auto;
        }
        .text{
          h1{
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 15px;
          }
          p{
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
      .catalog__content{
        .catalog_products{
          margin-left: 0;
          margin: 0 -10px;
          width: calc(100% + 20px);
          .item{
            width: calc(50% - 20px);
            margin: 0 10px;
            margin-bottom: 50px;
            &:nth-child(2n){
              position: relative;
              left: 20px;
            }
            &__content{
              width: 100%;
              .images{
                .item_action{
                  display: none;
                }
              }
              .text{
                h4 a{
                  font-size: 12px;
                }
                span{
                  font-size: 10px;
                }
                p{
                  margin-top: 15px;
                  a{
                    font-size: 12px;
                  }
                }
                strong{
                  a{
                    font-size: 10px;
                  }
                }
                .price{
                  position: relative;
                  p{
                    font-size: 12px;
                    margin-top: 5px;
                  }
                }
              }
              .item_action{
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                a{
                  margin: 0 3px;
                  svg{
                    height: 16px;
                    width: 16px;
                  }
                  img{
                    height: 16px;
                  }
                }
              }
            }
          }
        }
      }
      .catalog__sort{
        margin-top: 0px;
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
        h4{
          margin-right: 20px;
          font-size: 10px;
          width: 100%;
          margin-bottom: 15px;
        }
        a{
          margin-right: 10px;
          font-size: 8px;
          svg{
            height: 8px;
          }
        }
      }
    }
    &__content{
      flex-wrap: wrap;
    }
  }
  .basket{
    &__content{

    }
    .step{
      margin-bottom: 20px;
      a{
        font-style: normal;
        font-size: 10px;
        line-height: 13px;
        margin-right: 10px;
      }
    }
    .basket__cards{
      border-bottom: none;
      padding-bottom: 15px;
      .item{
        flex-wrap: wrap;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &:last-child{
          padding-bottom: 0;
          border: none;
        }
        .images{
          width: 100%;
          margin-right: 0;
          height: 160px;
          margin-bottom: 15px;
        }
        .right{
          flex-wrap: wrap;
        }
        .text{
          .item__title{
            height: 30px;
            h4{
              a{
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
              }
            }
          }
          p{
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 13px;
          }
          .item__info{
            margin-top: 5px;
            margin-bottom: 20px;
            p{
              font-weight: 300;
              font-size: 10px;
              line-height: 13px;
              margin-bottom: 5px;
            }
          }
        }
        .price{
          p{
            font-weight: bold;
            font-size: 13px;
            line-height: 14px;
          }
        }
        .delete{
          img{
            width: 12px;
            height: 12px;
          }
          span{
            font-weight: 300;
            font-size: 11px;
            line-height: 14px;
          }
        }
      }
    }
    &__amount{
      margin-top: 0;
      .amount__top{
        flex-wrap: wrap;
        h6{
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;
          width: 100%;
          margin-bottom: 7px;
        }
        .price{
          p{
            font-weight: normal;
            font-size: 25px;
            line-height: 32px;
          }
          span{
            font-weight: normal;
            font-size: 10px;
            line-height: 13px;
          }
        }
      }
      .button{
        margin-top: 40px;
        .btn{
          width: 100%;
        }
      }
    }
  }
  .auth_page{
    margin: 30px 0;
    &__content{
      min-height: auto;
    }
    .auth_form{
      width: 100%;
      padding: 20px;
      h4{
        font-size: 20px;
        margin-bottom: 5px;
      }
      .social_auth{
        flex-wrap: wrap;
        p{
          width: 100%;
          margin-bottom: 15px;
        }
        &__content{
          justify-content: flex-start;
          margin-left: 0;
          a{
            width: 50px;
            height: 33px;
            margin: 0 5px;
            img{
              height: 15px;
            }
            svg{
              height: 15px;
              width: auto;
            }
          }
        }
      }
      form{
        margin-top: 20px;
        .field{
          margin-bottom: 20px;
          &.mb40{
            margin-bottom: 20px;
          }
          label{
            font-size: 11px;
            margin-bottom: 7px;
          }
          input{
            font-size: 14px;
            &::placeholder{
              font-size: 14px;
            }
          }
        }
        .button{
          .btn{
            width: 100%;
            font-size: 14px;
            height: 46px;
          }
        }
      }
    }
  }
  .collection_page__content .item{
    width: 100%;
    height: 320px;
  }
  .service_page{
    &__content{
      .service_page__item_top {
        h4{
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 15px;
          font-weight: bold;
        }
      }
    }
    &__item{
      margin: 20px 0;
      .service_page__item_wrap{
        height: auto;
        flex-wrap: wrap;
        padding: 0 15px;
        .images{
          width: 100%;
          height: 270px;
          margin-bottom: 17px;
        }
        .text{
          width: 100%;
          background-color: transparent;
          padding: 0;
          p{
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
  }
  .page_iblock{
    &__title{
      margin-bottom: 30px;
      flex-wrap: wrap;
      width: 100%;
      h1{
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        width: 100%;
        margin-bottom: 10px;
      }
      p{
        width: 100%;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  .club {
    .item{
      flex-wrap: wrap;
      margin-bottom: 40px;
      .images{
        width: 100%;
        min-width: auto;
        text-align: left;
        margin-bottom: 30px;
      }
      .text{
        flex-wrap: wrap;
        width: 100%;
        .info{
          margin-bottom: 15px;
          h4{
            font-weight: bold;
            font-size: 15px;
            line-height: 19px;
          }
          p{
            font-weight: 300;
            font-size: 12px;
            line-height: 20px;
          }
        }
        .list{
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
  .pathners{
    padding: 0;
    margin-bottom: 30px;
    h2,h3{
      font-size: 20px;
      margin: 10px 0;
    }
    p{
      font-size: 12px;
      margin-bottom: 30px;
    }
  }
  .contacts{
    .maps{
      height: 450px;
    }
    .info{
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 10px 30px;
      height: auto;
      bottom: 0;
      top: auto;
      p{
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .header .cart a span{
    top: -5px;
    left: 42%;
  }
  .new_service{
    &__content{
      .item{
        .title{
          padding-right: 20px;
          &:before{
            width: 16px;
            top: 10px;
            right: 0;
          }
          &:after{
            width: 16px;
            top: 10px;
            right: 0;
          }
          h4{
            font-size: 14px;
            line-height: 20px;
          }
        }
        &__content{
          img{
            margin-bottom: 15px;
          }
          p{
            font-size: 12px;
            line-height: 16px;
          }
          ul{
            margin-left: 15px;
            li{
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
  .iblock_banner{
    flex-wrap: wrap;
    height: auto;
    padding: 0;
    margin-bottom: 40px;
    &.big_banner{
      height: auto;
      .images{
        width: 100%;
        margin-right: -15px;
      }
      .text{
        width: 100%;
        padding: 0 15px;
        padding-bottom: 40px;
      }
    }
    .images{
      width: 100%;
      margin-bottom: 35px;
      height: 322px;
    }
    .text{
      width: 100%;
      padding: 0 15px;
      padding-bottom: 40px;
      h4{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
      }
      p{
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
  .iblock_head{
    padding:40px 0;
    margin-bottom: 20px;
    height: 220px;
    display: flex;
    align-items: flex-end;
    &__content{
      padding: 0;
      display: flex;
      align-items: flex-end;
      height: 100%;
      img{
        display: none;
      }
      h1{
        font-size: 26px;
        line-height: 32px;
      }
    }
  }
}

@media screen and (max-width:480px) {
  .blogs{
    .page_iblock__title{
      h1{
        margin-bottom: 5px;
      }
    }
    &__item{
      width: 100%;
      margin-bottom: 40px;
      .images{
        height: 200px;
      }
      .text{
        h4{
          line-height: 1.3;
        }
      }
    }
  }
  .basket {
    &__approve {
      width: 100%;
    }
  }
  .authors {
    margin: 0 auto 55px;
    &__item {
      flex-wrap: wrap;
      justify-content: center;
      margin-right: 0;
      margin-bottom: 66px;
      .photo {
        flex: 0 0 100%;
        margin-bottom: 20px;
        width: 180px;
        height: 170px;
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 375px){
  .collection_page__content .item{
    height: 300px;
  }
}
@media screen and (max-width: 320px){
  .collection_page__content .item{
    height: 260px;
  }
}

@media screen and (min-width: 650px){
  .detail__row-items .slick-list {
    padding: 0 !important;
    box-sizing: border-box;
  }
}





