@import "vars";

/*==========  Mobile First  ==========*/

// ≤1200px
@media screen and (max-width:1350px){
  .header{
    &__content{
      .search{
        form{
          .field{
            input{
              width: 180px;
            }
          }
        }
      }
    }
  }
}
// ≤1200px
@media screen and (max-width:1220px){
  body{
    padding-top: 112px;
  }
  .header{
    .cart, .like{
      margin-right: 15px;
      padding-right: 0;
    }
    &__content{
      .logo{
        a{
          img{
            height: 40px;
          }
        }
      }
      .menu nav ul li a{
        padding: 0px 10px;
        font-size: 12px;
      }
      .search form .field input{
        width: 165px;
      }
    }
  }
  .container{
    padding: 0px 15px;
  }
  .footer{
    &__content{
      .right{
        .social{
          margin-right: 20px;
        }
      }
    }
  }
  .main-curator__content {
    padding: 70px 5%;
  }
}

@media screen and (max-width: 960px) {
  .main-banner__item {
    height: 356px;
  }
  .main-banner__info {
    margin-left: 8%;
    bottom: 44px;
  }
  .main-banner__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 19px;
  }
  .main-banner__desc {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 46px;
  }
  .main-banner__show {
    a {
      font-size: 12px;
      line-height: 16px;
    }

    img {
      height: 7px;
    }
  }
  .main-banner__dots {
    bottom: 35px;
    right: 35px;

    li {
      width: 5px;
      height: 5px;
    }
  }

  .main-works {
    padding: 65px 0;

    &__title  {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 41px;
      &:before {
        width: 35px;
        height: 15px;
        top: -35px;
      }
    }
    &__item-img {
      margin-bottom: 21px;
    }
    &__item-title {
      font-size: 19px;
      line-height: 25px;
      margin-bottom: 22px;
    }
    &__item-link {
      font-size: 11px;
      line-height: 14px;
    }
  }
  .mail-mailing {
    padding: 42px 10%;

    &__title {
      font-size: 17px;
      line-height: 22px;
    }

    &__description {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .mailing-form {
    input {
      font-size: 10px;
      line-height: 13px;
      padding: 14px 19px 17px;
    }

    button[type="submit"] {
      font-size: 12px;
      line-height: 16px;
      padding: 14px 0 17px;
      width: 150px;
    }
  }
  .main-collection {
    &__item {
      height: 547px;

      &:before {
        width: 51%
      }
    }

    &__content-top {
      top: 71px;
      left: 12%;
      font-size: 12px;
      line-height: 16px;
    }

    &__content-bottom {
      bottom: 85px;
      left: 12%;
    }

    .mccb {
      &__title, &__desc {
        margin-left: 0;
      }

      &__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 17px;
      }

      &__desc {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 22px;
      }

      &__button {
        padding: 13px 43px;
        font-size: 11px;
        line-height: 14px;
      }
    }

    .arrows {
      right: 92px;
      bottom: 50px;

      .arrow {
        width: 14px;
        height: 25px;
      }

      .next-arrow {
        margin-left: 18px;
      }
    }
  }
  .main-price {
    padding: 46px 0 62px;

    &__title {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 41px;
    }

    &__item {
      font-size: 11px;
      line-height: 14px;
      padding: 14px 0;
      flex: 0 0 22%;
    }
  }
  .main-curator {
    height: 452px;
    margin-bottom: 45px;

    &__content {
      width: 44.5%;
      padding: 45px 5% 63px;
    }

    &__text {
      font-size: 15px;
      line-height: 20px;
    }

    &__author {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .square-button {
    font-size: 11px;
    line-height: 14px;
    padding: 14px 0 11px;
    width: 205px;
  }
}

// ≤992px
@media screen and (max-width:992px){
  body{
    padding-top: 142px;
  }
  .header{
    padding-bottom: 5px;
    .top{
      padding-right: 15px;
      .right{
        .search{
          display: block;
        }
      }
    }
    .search{
      margin-left: 30px;
      form{
        .field{
          input{
            width: 180px;
          }
        }
      }
    }
    &__content{
      padding: 15px 0;
      margin-top: 0;
      .search{
        display: none;
        &.active{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: #fff;
          height: 100%;
          z-index: 2;
          form{
            height: 100%;
            display: flex;
            align-items: center;
            .field{
              padding-left: 20px;
              width: 100%;
              input{
                border: none;
                border-bottom: 1px solid #ccc;
                width: 100%;
              }
              button{
                left: 0;
                svg{
                  rect{
                    fill: $blue;
                  }
                  ellipse{
                    stroke: rgb(51, 153, 204);
                  }
                }
              }
            }
          }
        }
      }
      .menu{
        ul{
          li{
            &:last-child{
              a{
                padding-right: 0;
              }
            }
          }
        }
      }
    }
  }
  .footer{
    &__content{
      .menu{
        ul{
          li{
            margin: 0 12px;
          }
        }
      }
      .right{
        display: block;
        .social{
          margin-right: 0;
          justify-content: flex-end;
          margin-bottom: 14px;
          a{
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  .catalog{
    &__top{
      .text{
        width: 100%;
        p{
          font-size: 12px;
        }
      }
    }
  }
  .masonry { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
  }
}
@media screen and (max-width:850px){
  body{
    padding-top: 70px;
  }
  .header{
    padding-bottom: 0;
    .top{
      display: none;
    }
    &__content{
      align-items: center;
      .menu{
        display: none;
      }
      .mobile_touch{
        display: flex;
        align-items: center;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .burger{
        display: flex;
        margin-left: 25px;
      }
    }
  }
  .footer{
    &__content{
      .menu{
        ul{
          display: block;
          column-count: 2;
          li{
            display: block;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .breadcrumbs{
    margin-top: 20px;
  }
  .catalog{
    margin-top: 30px;
    &__wrap{
      .filter{
        .filter_button{
          display: flex;
          h4{
            font-size: 14px;
          }
          &.active{
            img{
              transform: rotate(180deg);
            }
          }
        }
        form{
          display: none;
        }
        &__content{
          .filter__title{
            margin-bottom: 15px;
            h5{
              font-size: 12px;
            }
          }
        }
      }
      .catalog_products{
        margin-left: 60px;
      }
    }
  }
}
// ≤768px
@media screen and (max-width:768px){
  .mail-mailing {
    padding: 40px 0;

    &__content {
      flex-direction: column;
      align-items: unset;
    }

    &__info {
      flex: 0 0 100%;
      margin-bottom: 32px;
    }

    &__form {
      flex: 0 0 100%;
    }
  }
}

@media screen and (max-width: 650px) {
  .main-banner__item {
    height: 517px;
  }
  .main-banner__info {
    margin: 0;
    bottom: 30px;
  }
  .main-banner__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 14px;
    width: 70%;
  }
  .main-banner__desc {
    font-size: 12px;
    line-height: 20px;
    width: 86%;
    margin-bottom: 40px;
  }
  .main-banner__show {
    a {
      font-size: 12px;
      line-height: 16px;
    }

    img {
      display: none;
    }
  }
  .main-banner__dots {
    bottom: 30px;
    right: 30px;
  }
  .main-works {
    padding: 47px 0 67px 0;
    &__title  {
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 30px;
      &:before {
        width: 32px;
        height: 16px;
        top: -30px;
      }
    }
    &__item-content {
      width: 280px;
      margin: auto;
    }
    &__item-img {
      width: 280px;
      height: auto;
      margin-bottom: 25px;
    }
    &__item-title {
      margin-bottom: 15px;
    }
  }
  .mailing-form {
    flex-direction: column;
    align-items: unset;

    input {
      margin: 0 0 23px 0;
      padding: 15px 26px 12px;
    }

    button[type="submit"] {
      padding: 15px 0 18px;
      width: 183px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .main-collection {
    &__item {
      height: 540px;

      &:before {
        top: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 230px;
      }
    }

    &__content {
      position: absolute;
      content: '';
      bottom: 20px;
      left: 20px;
      width: 100%;
      height: auto;
    }

    &__content-top, &__content-bottom {
      position: relative;
      left: unset;
      top: unset;
      bottom: unset;
      right: unset;
    }

    &__content-top {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 44px;
    }

    .mccb {
      &__title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 7px;
      }

      &__desc {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 35px;
      }

      &__button {
        padding: 13px 42px;
        display: inline-block;
      }
    }

    .arrows {
      right: 5%;
      bottom: 5%;
    }
  }
  .main-price {
    padding: 34px 0 39px;

    &__title {
      margin-bottom: 27px;
    }

    &__content {
      flex-wrap: wrap;
    }

    &__item {
      font-weight: 500;
      font-size: 9px;
      line-height: 12px;
      flex: 0 0 46%;
      padding: 11px 0;
      margin-bottom: 10px;
    }
  }
  .main-curator {
    margin-bottom: 26px;

    &__content {
      width: 100%;
      height: 236px;
      padding: 17px 30px 30px 38px;
    }

    &__text {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 8px;
    }

    &__author {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .square-button {
    font-size: 11px;
    line-height: 14px;
  }
}

// ≤576px
@media screen and (max-width:650px){
  body{
    padding-top: 60px;
  }
  .header{
    &__content{
      .logo{
        a{
          img{
            height: 25px;
          }
        }
      }
    }
  }
  .footer{
    &__content{
      .logo{
        margin-right: 15px;
        a{
          img{
            height: 18px;
          }
        }
      }
      .menu{
        ul{
          li{
            margin: 0;
            margin-bottom: 5px;
            a{
              font-size: 8px;
            }
          }
        }
      }
      .right{
        .social{
          margin-bottom: 10px;
        }
        .f_text{
          text-align: right;
          p{
            font-size: 10px;
            margin-bottom: 0;
          }
          a{
            font-size: 10px;
          }
        }
      }
    }
  }
  .breadcrumbs{
    margin-top: 0;
    margin-bottom: 20px;
    ul{
      li{
        font-size: 12px;
        &:before{
          width: 12px;
        }
      }
    }
  }
  .catalog{
    margin-top: 20px;
    &__top{
      flex-wrap: wrap;
      h1{
        width: 100%;
        min-width: auto;
        font-size: 18px;
        line-height: 24px;
      }
      .text{
        margin-left: 0;
        p{
          font-size: 10px;
        }
      }
    }
    &__wrap{
      .filter{
        width: 100%;
        min-width: auto;
        margin-bottom: 20px;
      }
      .catalog__content{
        .catalog_products{
          margin-left: 0;
          .item{
            width: 100%;
            &__content{
              width: 100%;
              .text{
                h4 a{
                  font-size: 12px;
                }
                span{
                  font-size: 10px;
                }
                p{
                  margin-top: 15px;
                  a{
                    font-size: 12px;
                  }
                }
                strong{
                  a{
                    font-size: 10px;
                  }
                }
                .price{
                  position: relative;
                  p{
                    font-size: 12px;
                    margin-top: 5px;
                  }
                }
              }
            }
          }
        }
      }
      .catalog__sort{
        margin-top: 0px;
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
        h4{
          margin-right: 20px;
          font-size: 10px;
          width: 100%;
          margin-bottom: 15px;
        }
        a{
          margin-right: 10px;
          font-size: 8px;
          svg{
            height: 8px;
          }
        }
      }
    }
    &__content{
      flex-wrap: wrap;
    }
  }
}






