@import "vars";

/*==========  Mobile First  ==========*/

// ≤1200px
@media screen and (max-width:1350px){
  .header{
    &__content{
      .menu{
        nav{
          ul{
            li{
              a{
                font-size: 13px;
              }
            }
          }
        }
      }
      .search{
        form{
          .field{
            input{
              width: 180px;
            }
          }
        }
      }
    }
  }
}
// ≤1200px
@media screen and (max-width:1220px){
  .header{
    .cart, .like{
      margin-right: 15px;
      padding-right: 0;
    }
    &__content{
      .logo{
        a{
          img{
            height: 25px;
          }
        }
      }
      .menu nav ul li a{
        padding: 0px 5px;
        font-size: 12px;
      }
      .search form .field input{
        width: 165px;
      }
    }
  }
  .container{
    padding: 0px 15px;
  }
}

@media screen and (max-width: 960px) {
  .main-banner--item {
    height: 356px;
  }
  .main-banner--info {
    margin-left: 8%;
    bottom: 44px;
  }
  .main-banner--title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 19px;
  }
  .main-banner--desc {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 46px;
  }
  .main-banner--show {
    a {
      font-size: 12px;
      line-height: 16px;
    }

    img {
      height: 7px;
    }
  }
  .main-banner--dots {
    bottom: 35px;
    right: 35px;

    li {
      width: 5px;
      height: 5px;
    }
  }
}

// ≤992px
@media screen and (max-width:992px){
  .header{
    position: relative;
    .top{
      display: none;
    }
    &__content{
      padding: 15px 0;
      .menu{
        display: none;
      }
      .logo{
        .burger{
          display: flex;
        }
      }
      .search{
        display: none;
        &.active{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: #fff;
          height: 100%;
          z-index: 2;
          form{
            height: 100%;
            display: flex;
            align-items: center;
            .field{
              padding-left: 20px;
              width: 100%;
              input{
                border: none;
                border-bottom: 1px solid #ccc;
                width: 100%;
              }
              button{
                left: 0;
                svg{
                  rect{
                    fill: $blue;
                  }
                  ellipse{
                    stroke: rgb(51, 153, 204);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// ≤768px
@media screen and (max-width:768px){

}

@media screen and (max-width: 650px) {
  .main-banner--item {
    height: 517px;
  }
  .main-banner--info {
    margin: 0;
    bottom: 30px;
  }
  .main-banner--title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 14px;
    width: 70%;
  }
  .main-banner--desc {
    font-size: 12px;
    line-height: 20px;
    width: 86%;
    margin-bottom: 40px;
  }
  .main-banner--show {
    a {
      font-size: 12px;
      line-height: 16px;
    }

    img {
      display: none;
    }
  }
  .main-banner--dots {
    bottom: 30px;
    right: 30px;
  }
}

// ≤576px
@media screen and (max-width:576px){

}






