@import "vars";
@import "fonts";
@import "libs";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
	color: $black;
	font-family: 'IBM Plex Sans', sans-serif;
	padding-top: 148px;
	min-height: 100vh;
}
a{
	color: $black;
	text-decoration: none;
}
.container{
	width: 100%;
	padding: 0px 30px;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-bottom: 30px;
	z-index: 2;
	background-color: #fff;
	.top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0;
		padding-bottom: 0;
		.left{
			display: flex;
			a{
				height: 45px;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: .4s all;
				padding: 0px 25px;
				position: relative;
				border-right: 1px solid rgb(238, 238, 238);
				&:hover{
					svg{
						opacity: 1;
					}
				}
				&:nth-child(1){
				}
				svg{
					height: 18px;
					transition: .4s all;
					opacity: .4;
				}
			}
		}
		.right{
			display: flex;
			align-items: center;
			.search{
				display: none;
			}
		}
	}
	.account{
		a{
			font-weight: bold;
			margin-right: 20px;
			font-size: 14px;
			&:hover{
				text-decoration: underline;
			}
			&:nth-child(1){
				position: relative;
				&:before{
					content: '';
					height: 17px;
					width: 1px;
					background-color: $black;
					position: absolute;
					top: 0px;
					right: -12px;
				}
			}
		}
	}
	.like, .cart{
		margin-right: 25px;
		a{
			display: flex;
			align-items: center;
			svg{
				height: 22px;
			}
		}
	}
	.cart{
		padding-right: 5px;
		a{
			position: relative;
			span{
				position: absolute;
				top: -2px;
				left: 50%;
				font-size: 12px;
			}
		}
	}
	.search{
		form{
			.field{
				position: relative;
				input{
					border: none;
					outline: transparent;
					width: 280px;
					border-bottom: 1px solid #041423;
					font-size: 14px;
					padding: 10px 10px;
					font-weight: 400;
					font-family: 'IBM Plex Sans', sans-serif;
					&::placeholder{
						font-size: 14px;
						font-family: 'IBM Plex Sans', sans-serif;
						color: $black;
					}
				}
				button{
					border: none;
					outline: transparent;
					background-color: transparent;
					position: absolute;
					top: 12px;
					right: 10px;
					svg{
						height: 15px;
					}
				}
			}
		}
	}
	&__content{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		position: relative;
		margin-top: 20px;
		.logo{
			display: flex;
			align-items: center;
			a{
				display: flex;
				align-items: center;
				img{
					height: 46px;
				}
			}
		}
		.mobile_icon{
			display: flex;
			a{
				margin-right: 15px;

				&:last-child{
					margin-right: 0;
				}
			}
			.cart{
				a{
					span{
						font-size: 11px;
						margin-left: -1px;
					}
					margin-right: 0;
					height: 22px;
					svg{
						height: 16px;
					}
				}
			}
		}
		.menu{
			nav{
				ul{
					list-style-type: none;
					margin: 0;
					padding: 0;
					display: flex;
					align-items: flex-end;
					li{
						a{
							height: auto;
							display: flex;
							align-items: center;
							font-weight: normal;
							padding: 0 15px;
							line-height: 1;
							font-size: 14px;
							border-bottom: 2px solid #fff;
							position: relative;
							&:before{
								content: '';
								width: 15px;
								height: 1px;
								background-color: $black;
								position: absolute;
								top: -13px;
								left: -5px;
								transform: rotate(45deg);
								transition: .4s all;
								opacity: 0;
							}
							&.active{
								font-weight: bold;
								&:before{
									opacity: 1;
								}
							}
							&:hover{
								font-weight: bold;
								&:before{
									opacity: 1;
								}
							}
						}
						&:hover{
							.down_menu{
								display: flex;
							}
						}
					}
					.down_menu{
						position: absolute;
						background-color: #fff;
						top: 100%;
						left: -30px;
						width: calc(100% + 60px);
						display: flex;
						justify-content: center;
						padding: 50px;
						border-top: 1px solid rgb(238, 238, 238);
						display: none;
						.images{
							width: 250px;
							height: 250px;
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							margin-right: 50px;
							display: flex;
							justify-content: center;
							align-items: center;
							color: #fff;
							font-weight: bold;
							font-size: 24px;
						}
						.category{
							padding-left: 50px;
							border-left: 1px solid rgb(238, 238, 238);
							display: flex;
							.col{
								min-width: 200px;
							}
							span{
								display: block;
								margin-bottom: 15px;
								font-weight: bold;
								font-size: 16px;
							}
							ul{
								display: block;
								li{
									margin-bottom: 10px;
									a{
										height: auto;
										font-weight: normal;
										font-size: 14px;
										padding: 0;
										opacity: .9;
										text-decoration: none;
										border: none;
										&:hover{
											opacity: 1;
											text-decoration: none;
											border: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.mobile_touch{
			display: none;
			.search{
				display: block;
				margin-right: 15px;
				&.active{
					left: 0;
					margin-left: 0;
					form{
						display: flex;
						.field{
							padding-left: 0;
							button{
								left: auto;
							}
						}
					}
				}
				form{
					position: absolute;
					top: 0;
					left: 0;
					background-color: #fff;
					width: 100%;
					z-index: 3;
					padding: 10px 0;
					display: none;
					align-items: center;
					.field{
						position: relative;
						width: 100%;
						input{
							width: 100%;
						}
					}
					.close{
						position: relative;
						width: 20px;
						height: 20px;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-left: 10px;
						top: 2px;
						span{
							display: block;
							width: 20px;
							height: 1px;
							background-color: $black;
							position: relative;
							transform: rotate(45deg);
							&:before{
								content: '';
								width: 20px;
								height: 1px;
								background-color: $black;
								position: absolute;
								transform: rotate(-85deg);
								top: 0;
								left: 0;
							}
						}
					}
				}
			}
			.cart{
				a{
					svg{
						height: 16px;
					}
				}
			}
		}
		.burger{
			cursor: pointer;
			width: 24px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			display: none;
			span{
				display: block;
				background-color: rgb(0, 0, 0);
				height: 2px;
				position: relative;
				width: 24px;
				&:before{
					content: '';
					width: 24px;
					height: 2px;
					background-color: rgb(0, 0, 0);
					top: -7px;
					left: 0;
					position: absolute;
				}
				&:after{
					content: '';
					width: 24px;
					height: 2px;
					background-color: rgb(0, 0, 0);
					top: 7px;
					left: 0;
					position: absolute;
				}
			}
		}
	}
}
.footer{
	width: 100%;
	padding-bottom: 30px;
	margin-top: 20px;
	&__content{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		.logo{
			a{
				img{
					height: 23px;
				}
			}
		}
		.menu{
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: flex;
				li{
					margin: 0 15px;
					a{
						font-weight: 300;
						font-size: 12px;
						line-height: 14px;
					}
				}
			}
		}
		.right{
			display: flex;
			align-items: flex-end;
			.social{
				display: flex;
				margin-right: 50px;
				a{
					margin: 0px 12px;
				}
			}
			.f_text{
				p{
					font-weight: 300;
					font-size: 12px;
					line-height: 16px;
					text-align: right;
					margin-bottom: 5px;
				}
				a{
					font-weight: 300;
					font-size: 12px;
					line-height: 16px;
					text-align: right;
				}
			}
		}
	}
}
.mobile_menu{
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 220px;
	background-color: #fff;
	z-index: 10;
	padding: 40px;
	padding-top: 60px;
	box-shadow: 3px 10px 12px rgba(0, 0, 0, 0.5);
	opacity: 0;
	right: -200%;
	transition: .4s all;
	&.active{
		opacity: 1;
		right: 0;
	}
	.close{
		width: 20px;
		height: 20px;
		cursor: pointer;
		position: absolute;
		top: 30px;
		right: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		span{
			width: 20px;
			height: 1px;
			background-color: $black;
			transform: rotate(45deg);
			position: relative;
			&:before{
				content: '';
				width: 20px;
				height: 1px;
				background-color: $black;
				transform: rotate(-85deg);
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	nav{
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			li{
				margin-bottom: 20px;
				a{
					font-size: 12px;
					color: $black;
					font-weight: normal;
					text-transform: uppercase;
				}
			}
		}
	}
	.logo{
		position: absolute;
		bottom: 30px;
		left: 40px;
		a{
			img{
				height: 20px;
			}
		}
	}
}
.breadcrumbs{
	margin-bottom: 30px;
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		li{
			font-weight: 300;
			font-size: 14px;
			line-height: 13px;
			margin-right: 15px;
			position: relative;
			&:last-child{
				&:before{
					display: none;
				}
			}
			&:before{
				content: '';
				width: 14px;
				height: 1px;
				background-color: $black;
				position: absolute;
				top: 5px;
				right: -15px;
				transform: rotate(70deg);
			}
			a{
				font-weight: bold;
			}
		}
	}
}
.catalog{
	margin-top: 50px;
	&__top{
		display: flex;
		align-items: flex-start;
		h1{
			font-weight: lighter;
			font-size: 26px;
			line-height: 32px;
			min-width: 280px;
			width: 280px;
			margin: 0;
			padding: 0;
		}
		.text{
			width: 590px;
			margin-top: 8px;
			margin-left: 50px;
		}
		p{
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;

			a{
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}
	&__wrap{
		margin-top: 25px;
		.catalog__sort{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-top: 30px;
			margin-bottom: 50px;
			h4{
				font-weight: bold;
				font-size: 12px;
				line-height: 12px;
				margin-right: 80px;
			}
			a{
				font-style: normal;
				font-weight: 500;
				font-size: 12px;
				line-height: 12px;
				color: #E0E0E0;
				margin-right: 60px;
				font-weight: lighter;
				&.active{
					color: #8A8A8A;
					svg{
						path{
							color: #8A8A8A;
						}
					}
				}
				&:last-child{
					margin-right: 0;
				}
				strong{
					color: $black;
				}
				svg{
					path{
						fill: #E0E0E0;
					}
				}
			}
		}
		.filter{
			width: 220px;
			min-width: 220px;
			.filter_button{
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 15px;
				display: none;
				h4{
					font-size: 16px;
					font-weight: normal;
				}
				img{
					height: 10px;
					transition: .4s all;
				}
			}
			.field{
				margin-bottom: 7px;
				input{
					display: none;
					&:checked + label{
						&:after{
							opacity: 1;
						}
					}
				}
				label{
					font-weight: 300;
					font-size: 14px;
					line-height: 16px;
					position: relative;
					padding-left: 23px;
					-ms-user-select: none;
					-moz-user-select: none;
					-khtml-user-select: none;
					-webkit-user-select: none;
					cursor: pointer;
					&:before{
						content: '';
						width: 10px;
						height: 10px;
						position: absolute;
						top: 3px;
						left: 0;
						border: 1px solid #D2D2D2;
					}
					&:after{
						content: '';
						width: 10px;
						height: 10px;
						position: absolute;
						top: 4px;
						left: 1px;
						background-image: url('../img/chek.svg');
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						opacity: 0;
						transition: .4s all;
					}
				}
			}
			&__content{
				border-top: 1px solid #E6E6E6;
				padding-top: 15px;
				margin-bottom: 20px;
				.filter__title{
					margin-bottom: 25px;
					h5{
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 16px;
						text-transform: uppercase;
					}
				}
			}
			.button{
				border-top: 1px solid #E6E6E6;
				padding-top: 15px;
				a{
					display: block;
					font-weight: bold;
					font-size: 10px;
					line-height: 8px;
					text-decoration-line: underline;
					color: #8A8A8A;
				}
			}
		}
		.catalog_products{
			//display: flex;
			////justify-content: space-between;
			margin-left: 120px;
			////flex-flow: column wrap;
			////align-items: stretch;
			////align-content: stretch;
			//flex-wrap: wrap;
			//flex-direction: column;
			width: 100%;
			.item{
				width: 33.33333%;
				margin-bottom: 50px;
				//flex: 0 1 auto;
				&__content{
					width: 210px;
				}
				.images{
					margin-bottom: 5px;
					img{
						width: 100%;
					}
				}
				.text{
					position: relative;
					h4{
						margin-bottom: 3px;
						a{
							font-size: 14px;
							font-weight: normal;
						}
					}
					span{
						display: block;
						font-size: 12px;
						font-weight: lighter;
					}
					p{
						margin-top: 20px;
						a{
							font-size: 500px;
							font-size: 14px;
						}
					}
					strong{
						a{
							font-size: 11px;
							font-style: italic;
							font-weight: 300;
						}
					}
					.price{
						position: absolute;
						bottom: 0;
						right: 0;
						p{
							font-size: 14px;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	&__content{
		display: flex;
	}
}
.masonry { /* Masonry container */
	column-count: 3;
	column-gap: 1em;
}
.main-banner--item {
	height: 545px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: linear-gradient(90deg, rgba(21, 21, 21, 0.57) 43.65%, rgba(21, 21, 21, 0) 100.08%);
	}
}

.main-banner--info {
	z-index: 2;
	color: #ffffff;
	position: absolute;
	bottom: 85px;
	margin-left: 120px;
}

.main-banner--title {
	font-weight: 300;
	font-size: 44px;
	line-height: 42px;
	margin-bottom: 24px;
}

.main-banner--desc {
	font-weight: 300;
	font-size: 20px;
	line-height: 29px;
	margin-bottom: 66px;
	width: 60%;
}

.main-banner--show {
	display: flex;
	align-items: center;

	a {
		font-weight: 500;
		font-size: 20px;
		line-height: 26px;
		display: flex;
		align-items: center;
		text-decoration-line: underline;
		color: #ffffff;
		margin-right: 20px;
	}
}

.main-banner--dots {
	position: absolute;
	content: '';
	right: 100px;
	bottom: 88px;
	list-style-type: none;
	display: flex;

	button {
		display: none;
	}

	li {
		width: 7px;
		height: 7px;
		background: rgba(255, 255, 255, 0.5);
		margin-right: 5px;
	}

	li.slick-active {
		background: #FFFFFF;
	}
}



@import "media"; // Always at the end
