@import "vars";
@import "fonts";
@import "libs";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
	color: $black;
	font-family: 'IBM Plex Sans', sans-serif;
	padding-top: 118px;
	min-height: 100vh;
	padding-bottom: 64px;
}
a{
	color: $black;
	text-decoration: none;
}
.container{
	width: 100%;
	padding: 0px 30px;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	.top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0;
		padding-bottom: 0;
		.left{
			display: flex;
			a{
				height: 45px;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: .4s all;
				padding: 0px 25px;
				position: relative;
				border-right: 1px solid rgb(238, 238, 238);
				&:hover{
					svg{
						opacity: 1;
					}
				}
				&:nth-child(1){
				}
				svg{
					height: 18px;
					transition: .4s all;
					opacity: .4;
				}
			}
		}
		.right{
			display: flex;
			align-items: center;
			.search{
				display: none;
			}
		}
	}
	.account{
		a{
			font-weight: bold;
			margin-right: 20px;
			font-size: 14px;
			&:hover{
				text-decoration: underline;
			}
			&:nth-child(1){
				position: relative;
				&:before{
					content: '';
					height: 17px;
					width: 1px;
					background-color: $black;
					position: absolute;
					top: 0px;
					right: -12px;
				}
			}
		}
	}
	.like, .cart{
		margin-right: 25px;
		a{
			display: flex;
			align-items: center;
			svg{
				height: 22px;
			}
		}
	}
	.cart{
		padding-right: 5px;
		a{
			position: relative;
			span{
				position: absolute;
				top: -2px;
				left: 50%;
				font-size: 12px;
			}
		}
	}
	.search{
		form{
			.field{
				position: relative;
				input{
					border: none;
					outline: transparent;
					width: 280px;
					border-bottom: 1px solid #041423;
					font-size: 14px;
					padding: 10px 10px;
					font-weight: 400;
					font-family: 'IBM Plex Sans', sans-serif;
					&::placeholder{
						font-size: 14px;
						font-family: 'IBM Plex Sans', sans-serif;
						color: $black;
					}
				}
				button{
					border: none;
					outline: transparent;
					background-color: transparent;
					position: absolute;
					top: 12px;
					right: 10px;
					svg{
						height: 15px;
					}
				}
			}
		}
	}
	&__content{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		position: relative;
		margin-top: 20px;
		.logo{
			display: flex;
			align-items: center;
			a{
				display: flex;
				align-items: center;
				img{
					height: 46px;
				}
			}
		}
		.mobile_icon{
			display: flex;
			a{
				margin-right: 15px;

				&:last-child{
					margin-right: 0;
				}
			}
			.cart{
				a{
					span{
						font-size: 11px;
						margin-left: -1px;
					}
					margin-right: 0;
					height: 22px;
					svg{
						height: 16px;
					}
				}
			}
		}
		.menu{
			nav{
				ul{
					list-style-type: none;
					margin: 0;
					padding: 0;
					display: flex;
					align-items: flex-end;
					li{
						a{
							height: auto;
							display: flex;
							align-items: center;
							font-weight: normal;
							padding: 0 15px;
							line-height: 1;
							font-size: 14px;
							border-bottom: 2px solid #fff;
							position: relative;
							&:before{
								content: '';
								width: 15px;
								height: 1px;
								background-color: $black;
								position: absolute;
								top: -13px;
								left: -5px;
								transform: rotate(45deg);
								transition: .4s all;
								opacity: 0;
							}
							&.active{
								font-weight: bold;
								&:before{
									opacity: 1;
								}
							}
							&:hover{
								font-weight: bold;
								&:before{
									opacity: 1;
								}
							}
						}
						&:hover{
							.down_menu{
								display: flex;
							}
						}
					}
					.down_menu{
						position: absolute;
						background-color: #fff;
						top: 100%;
						left: -30px;
						width: calc(100% + 60px);
						display: flex;
						justify-content: center;
						padding: 50px;
						border-top: 1px solid rgb(238, 238, 238);
						display: none;
						.images{
							width: 250px;
							height: 250px;
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							margin-right: 50px;
							display: flex;
							justify-content: center;
							align-items: center;
							color: #fff;
							font-weight: bold;
							font-size: 24px;
						}
						.category{
							padding-left: 50px;
							border-left: 1px solid rgb(238, 238, 238);
							display: flex;
							.col{
								min-width: 200px;
							}
							span{
								display: block;
								margin-bottom: 15px;
								font-weight: bold;
								font-size: 16px;
							}
							ul{
								display: block;
								li{
									margin-bottom: 10px;
									a{
										height: auto;
										font-weight: normal;
										font-size: 14px;
										padding: 0;
										opacity: .9;
										text-decoration: none;
										border: none;
										&:hover{
											opacity: 1;
											text-decoration: none;
											border: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.mobile_touch{
			display: none;
		}
		.burger{
			cursor: pointer;
			width: 24px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			display: none;
			span{
				display: block;
				background-color: rgb(0, 0, 0);
				height: 2px;
				position: relative;
				width: 24px;
				&:before{
					content: '';
					width: 24px;
					height: 2px;
					background-color: rgb(0, 0, 0);
					top: -7px;
					left: 0;
					position: absolute;
				}
				&:after{
					content: '';
					width: 24px;
					height: 2px;
					background-color: rgb(0, 0, 0);
					top: 7px;
					left: 0;
					position: absolute;
				}
			}
		}
	}
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	padding-bottom: 30px;
	&__content{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		.logo{
			a{
				img{
					height: 23px;
				}
			}
		}
		.menu{
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: flex;
				li{
					margin: 0 15px;
					a{
						font-weight: 300;
						font-size: 12px;
						line-height: 14px;
					}
				}
			}
		}
		.right{
			display: flex;
			align-items: flex-end;
			.social{
				display: flex;
				margin-right: 50px;
				a{
					margin: 0px 12px;
				}
			}
			.f_text{
				p{
					font-weight: 300;
					font-size: 12px;
					line-height: 16px;
					text-align: right;
					margin-bottom: 5px;
				}
				a{
					font-weight: 300;
					font-size: 12px;
					line-height: 16px;
					text-align: right;
				}
			}
		}
	}
}



@import "media"; // Always at the end
